body {
    background: #161614;
    color: #fff;
}

#main {

    display: block;

    font-size: 20px;


    #visual {

        .visual__fix {
            position: sticky;
            left: 0;
            top: 0;

            background: #161614;

            z-index: 1;

            h2 {
                position: relative;
                padding: 0 0 1em;

                strong {
                    font-size: clamp(60px, 13.9vw, 232px);
                    white-space: nowrap;
                    line-height: 0.8;
                    display: block;
                    letter-spacing: clamp(-12px, -.8vw, 12px);
                    text-align: center;
                }

                span {
                    position: absolute;
                    bottom: 0;

                    opacity: .8;
                    font-weight: 400;

                    font-size: 22px;

                    &:nth-child(2) {
                        left: 0;
                    }

                    &:nth-child(3) {
                        left: 400px;
                    }

                    &:nth-child(4) {
                        left: 600px;
                    }

                    &:nth-child(5) {
                        left: 1000px;
                    }

                }

            }

        }


        .visual__mid__txt {
            font-size: 28px;
            line-height: 1.3;

            padding: 3em 0 1em;

            display: block;
        }

        .visual__bot__txt {
            width: 1000px;
            margin: 0 auto;

            p {
                width: fit-content;

                opacity: .6;

                &:first-child {
                    margin-inline-start: auto;
                }

                &:not(:last-child) {
                    padding-bottom: 3em;
                }
                
            }

        }



    }

    #picture {

        .picture__swiper {
            padding: .2em 0;

            .swiper-wrapper {

                transition-timing-function: linear !important;
            }

            .swiper-slide {
                width: 400px;
                height: 400px;

                margin: 0 5px;
                
                display: flex;
                justify-content: center;
                align-items: center;

                overflow: hidden;

                img {
                    width: 100%;
                }
            }

        }

    }


}
